### DecisionTreeRegressor

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error 

print("Setup Complete")

Setup Complete

In [2]:
# load data
df = pd.read_csv('customer_churn_dataset-testing-master.csv')

df.head(7)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0
5,6,30,Male,41,14,10,10,Premium,Monthly,500,29,0
6,7,47,Female,37,15,9,28,Basic,Quarterly,574,14,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64374 entries, 0 to 64373
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         64374 non-null  int64
 1   Age                64374 non-null  int64
 2   Gender             64374 non-null  object
 3   Tenure             64374 non-null  int64
 4   Usage Frequency    64374 non-null  int64
 5   Support Calls      64374 non-null  int64
 6   Payment Delay      64374 non-null  int64
 7   Subscription Type  64374 non-null  object
 8   Contract Length    64374 non-null  object
 9   Total Spend        64374 non-null  int64
 10  Last Interaction   64374 non-null  int64
 11  Churn              64374 non-null  int64
dtypes: int64(9), object(3)
memory usage: 5.9+ MB

In [13]:
df['Subscription Type'].value_counts()

Subscription Type
Standard    21502
Basic       21451
Premium     21421
Name: count, dtype: int64

In [14]:
df['Gender'].value_counts()

Gender
Female    34353
Male      30021
Name: count, dtype: int64

In [15]:
df['Contract Length'].value_counts()

Contract Length
Monthly      22130
Annual       21410
Quarterly    20834
Name: count, dtype: int64

In [17]:
df.drop(columns='CustomerID',inplace=True)
df.head(7)

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,53,Female,58,24,9,2,Standard,Annual,533,18,0
5,30,Male,41,14,10,10,Premium,Monthly,500,29,0
6,47,Female,37,15,9,28,Basic,Quarterly,574,14,1

## Train

In [28]:
# choose the target y
y = df['Churn']

# chose the features X
features = ['Age','Tenure','Usage Frequency','Support Calls','Payment Delay','Total Spend','Last Interaction']
X = df[features]

train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0)

### DesicionTreeRegression

In [37]:

# Define decisionTree model
df_model = DecisionTreeRegressor(random_state=0,max_leaf_nodes=None)

# Fit model
df_model.fit(train_X,train_y)

# Predict
df_predict = df_model.predict(val_X)

# Evealuate using find the MAE
df_MAE = mean_absolute_error(val_y,df_predict)

print(df_MAE)

0.1058779669442028

### To find best model in decision tree

In [ ]:
# def get_mea(max_leaf,train_X,val_X,train_y,val_y):
#     model = DecisionTreeRegressor(max_leaf_nodes=max_leaf,random_state=0)
#     model.fit(train_X,train_y)
#     pred = model.predict(val_X)
#     mae = mean_absolute_error(val_y,pred)
#     return mae

# bestnode = 0
# minMAE = 5000000
# for i in [ 5 , 50,100,500]:
#     newMAE =  get_mea(i,train_X,train_y,val_X,val_y)
#     if newMAE < minMAE:
#         minMAE = newMAE
#         bestnode = i

### Final model

In [ ]:
model = DecisionTreeRegressor(i,random_state=0)
model.fit(X,y)
pred = model.predict(X)
MAE = mean_absolute_error(y,pred)

print(f'The MAE value is {MAE} ')